@use 'highlight.js/scss/github-dark.scss';
@use '@material/theme';
@use '@material/typography';

.preview {
  @include typography.typography(body1);
  @include theme.property(color, on-surface);
  word-break: break-word;

  code {
    @include theme.property(color, on-surface);
    padding: 0 3px;
    font-size: .85em;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    line-height: 1.4;
    border-radius: 2px;
    background-color: rgba(255, 229, 100, 0.2);
    -webkit-font-smoothing: subpixel-antialiased;
  }
  pre {
    margin: 24px auto;
    padding: 16px;
    overflow: auto;
    direction: ltr;
    border-radius: 4px;
    -webkit-overflow-scrolling: touch;
    code {
      color: unset;
      background-color: unset;
      line-height: 1.5;
      font-size: .9em;
    }
  }

  h1 {
    @include typography.typography(headline3);
    margin: 16px 0;
    font-size: 40px;
  }
  h2 {
    @include typography.typography(headline4);
    margin: 40px 0 16px;
    font-size: 30px;
  }
  h3 {
    @include typography.typography(headline5);
    margin: 40px 0 16px;
  }
  h4 {
    @include typography.typography(headline6);
    margin: 32px 0 16px;
  }
  h5 {
    @include typography.typography(subtitle2);
    margin: 32px 0 16px;
  }
  h1 code, h2 code, h3 code, h4 code {
    font-size: inherit;
    word-break: break-all;
    line-height: inherit;
  }

  p, ul, ol {
    margin-top: 0;
    margin-bottom: 16px;
  }
  ul {
    padding-inline-start: 30px;
  }
  a, a code {
    @include theme.property(color, secondary);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    display: block;
    overflow: hidden;
    overflow-x: auto;
    word-break: normal;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-overflow-scrolling: touch;
  }
  td {
    @include typography.typography(body2);
    @include theme.property(color, on-surface);
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    code {
      line-height: 1.6;
    }
  }
  th {
    @include theme.property(color, on-surface);
    padding: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    white-space: pre;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  blockquote {
    margin: 24px 0;
    padding: 4px 24px;
    border-inline-start: 0.25em solid rgb(187, 187, 187);
    background: rgba(187, 187, 187, 0.2);
    p {
      margin-top: 16px;
    }
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  hr {
    border: none;
    height: 1px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
  }
}
