@use '@material/theme';
@use '@material/shape';
@use '@material/elevation';
@use '@material/typography';

:host {
    display: grid;
    grid-template-rows: min-content auto;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%;
    @include theme.property(background-color, surface);
    @include shape.radius(medium);
    @include elevation.elevation(1);
}

.toolbar {
    user-select: none;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include theme.property(background, primary);
}
.separator, ::slotted(.separator) {
    opacity: 0.3;
    margin: 0 8px;
    border-left: 1px solid;
    height: 14px;
    @include theme.property(color, on-primary);
} 

.body {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.textarea-container {
    overflow: hidden; 
}
.textarea {
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
    resize: none;
    outline: none;
    border: none;
    background: transparent;
    @include typography.typography(body1);
    @include theme.property(color, on-surface);
}

.gutter {
    @include theme.property(background, primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: col-resize;
    width: 25px !important;
    svg {
        height: 25px;
        @include theme.property(color, on-primary);
        opacity: 0.6;
    }
}
.gutter:hover {
    svg {
        opacity: 1;
    }
}

.preview-container {
    overflow: hidden; 
}
.preview {
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
}
